$c-background: #f1f1f1;
$c-primary: #753f95;
$c-accent: #1dafec;
$c-white: #fff;
$c-darkgrey: #444444;
$c-dangerzone: #E28639;
$c-danger: #d9534f;
$box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

$ember-power-select-border-color: $c-accent;
$ember-power-select-highlighted-background: $c-background;
$ember-power-select-highlighted-color: $c-darkgrey;
@import 'ember-power-select';
@import 'reset';
@import 'layout';
@import 'components/form';
@import 'components/top-nav';
@import 'components/admin';
@import 'components/calendar';
@import 'components/modal';
@import 'components/profile';
@import 'components/user';
@import 'components/card';
