.container {
  max-width: 60rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem;

  &__item {
    flex-grow: 1;
    margin: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
