<div class="container container--vertical">
  <div class="form">
    <img src="../images/bbbs.png" class="form__logo" alt="BB/BS Logo">
    <div class="form__info">
      <div class="form__info-group">
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="text" id="email" required=true>
      </div>
      <div class="form__info-group">
        <label class="form__label" for="password">Password</label>
        <input class="form__input" type="text" id="password" required=true>
      </div>
    </div>
    <div class="form__buttons">
      <button class="form__btn">Submit</button>
      <a href="#" class="form__btn form__btn--accent">First Time Here?</a>
    </div>
  </div>
</div>
