
<div class="container">
<div class="section">
  <h1>Admin Login</h1>
  <form action="submit">
    <label>Email</label>
    <input type="text">
    <label>Password</label>
    <input type="text">
    <button>Login</button>
  </form>
</div>
</div>
