<div class="container">
  <div class="grid">
    {{#link-to "admin.homepage.user" class="grid__item grid-item-admin"}}Users{{/link-to}}
    {{#link-to "admin.homepage.event" class="grid__item grid-item-admin"}}Events{{/link-to}}
    {{#link-to "admin.homepage.announcements" class="grid__item grid-item-admin"}}Announcements{{/link-to}}
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>
