<div class="app">
  <div class="app__top">
      <div class="top-nav">
      <div class="top-nav__group">
        <div class="top-nav__logo">Big Brothers Big Sisters of Middle Tennessee</div>
      </div>

      <ul class="top-nav__group">
        <li class="top-nav__item"> <a href="#">Login </a></li>
        <li class="top-nav__item"><a href="#">Calendar</a></li>
        <li class="top-nav__item"><a href="#">Messages</a></li>
      </ul>
      </div>
      <div class="hero">
        {{!-- <p>hello world</p> --}}
      </div>
    </div>
  </div>



  <div class="app__content">
    {{ outlet }}
  </div>
