.grid-item-admin {
  padding: 1rem 4rem;
  background: $c-primary;
  color: $c-white;
  box-shadow: $box-shadow;
  margin-top: 4rem;
  border-radius: .4rem;
  text-decoration: none;
  text-align: center;

  @media(max-width: 420px) {
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 4rem;
    }
  }

  &:hover {
    background: $c-darkgrey;
  }

a {
  text-decoration: none;
  color: inherit;
}
}

.alert-success p {
  display: flex;
  margin: 0;
  background: $c-dangerzone;
  padding: 1rem 0;
  color: $c-white;

}

// .alert {
//   display: flex;
//   padding: 1rem 0;
// }

.jello {
  display: flex;
  background: $c-dangerzone;
}
