.form {
  margin: 4rem 1rem;
  background: $c-white;
  border: 0.1rem solid $c-darkgrey;
  border-radius: 0.4rem;
  box-shadow: $box-shadow;

  &--user {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 60%;

    @media (max-width: 720px) {
      width: 90%;
    }
  }

  &__header {
    text-align: center;
    margin-top: .5rem;
    color: $c-darkgrey;
  }

  &__logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    margin: 0.5rem auto;
  }

  &__frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    margin: 1rem;
  }

  &__img {
    border-radius: 50%;
    height: 10rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;

    &--row {
      flex-direction: row;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__info-group {
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0;

    &--center {
      margin-right: 1rem;
      justify-content: center;
      align-items: center
    }

    &--flex {
      flex-direction: row;
      align-items: center;
    }
  }

  &__label {
    font-size: 0.8rem;
  }

  &__input {
    padding: 0.2rem;

    &:focus {
      outline: 0.1rem solid $c-primary;
    }

    &--half {
      width: 50%;
    }
  }


  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 0.2rem;
    border: 0;
    background: $c-primary;
    color: $c-white;
    font-size: 1rem;
    outline: 0;
    cursor: pointer;

    &--accent {
      background: $c-accent;
      border-bottom-right-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      text-align: center;
      text-decoration: none;
    }

    &--middle {
      background: $c-accent;
      text-align: center;
      text-decoration: none;
    }

    &--danger {
      background: $c-dangerzone;
      border-bottom-right-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      text-align: center;
      text-decoration: none;


    }

    &--upload {
      padding: 0.4rem;
      background: $c-accent;
      color: $c-white;
      border: 0;
      border-radius: 0.4rem;
      outline: 0;
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    }
  }

  textarea {
    &:focus {
      outline: 0.1rem solid $c-primary;
    }
  }
}

  .input-flex {
    display: flex;
  }
