.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .1rem solid $c-darkgrey;
  margin-top: 2rem;

&--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

&__btn {
  margin-top: 1rem;
  align-self: flex-start;
  padding: 0.3rem 0.5rem;
  border: 0;
  background: $c-primary;
  color: $c-white;
  font-size: 1rem;
  border-radius: 0.4rem;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}

&__content {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 1rem;

  &-names {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &-input {
    font-size: 1.2rem;
  }
}
}

@media (max-width: 985px) {
  .heading {
    margin-left: 1rem;
  }
}
