.profile {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  @media (max-width: 720px) {
    flex-wrap: wrap;
  }

  &__side {
    flex-basis: calc(100% / s2);
    margin-right: 1rem;
    @media (max-width: 720px) {
      width: 100%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__heading {
    margin-top: 0;
    color: $c-darkgrey;
  }

  &__frame {
    position: relative;
    min-width: 8rem;
    display: flex;
    align-items: flex-start;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-top: 100%
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  &--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 850px) {
      flex-direction: column;
    }
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-top: 1rem;
    align-self: flex-start;
    padding: 0.3rem 0.5rem;
    border: 0;
    background: $c-primary;
    color: $c-white;
    font-size: 1rem;
    border-radius: 0.4rem;
    outline: 0;
    cursor: pointer;
    text-decoration: none;

    &--full {
      text-align: center;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;

    @media (max-width: 850px) {
      margin-top: 1rem;
      margin-left: 0;
      text-align: center;
    }

    &-names {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-input {
      font-size: 1.2rem;
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0 0 1rem;
    border-bottom: 0.1rem solid $c-darkgrey;
    color: $c-darkgrey;
  }
}

.profile__card {
  display: flex;
  flex-basis: calc(100% / 3 - 2rem);
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem 0;
  background: $c-white;
  border: 0.2rem solid $c-accent;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: $box-shadow;

  &--user {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  &--info {
    margin: 0;
  }

  &-image {
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    font-weight: normal;
    margin-top: 1rem;
  }

  &-flex {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 985px) {
  .profile__heading {
    margin-left: 1rem;
  }
}
