.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('http://www.mentorakid.org/atf/cf/%7B409bbba9-6fe0-48c1-9c2d-fdb43180f5b1%7D/slider-5.png') no-repeat center;
  background-size: cover;
  height: 30rem;

  &__headline {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: $c-accent;
    font-weight: bold;
    text-transform: uppercase;
    border: 0.2rem solid $c-accent;
  }

  &__headline-tag {
    margin: 0.2rem;
    text-align: center;
    text-shadow: 2px 2px $c-darkgrey;
  }
}

.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  background: $c-darkgrey;
  color: $c-background;
  z-index: 2;

  &__logo {
    height: 4rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: $c-white;
    margin-right: .5rem;
    text-decoration: none;

    &:hover {
      color: $c-primary;
      text-shadow: 1px 1px #000;
    }
  }
}
