<div class="container">
  <div class="grid">
    {{#link-to "admin.homepage.event" class="grid-item grid-item-admin" }} Users {{/link-to}}
    {{#link-to "admin.homepage.event" class="grid-item grid-item-admin" }}Events {{/link-to}}
    {{#link-to "admin.homepage.announcements" class="grid-item grid-item-admin"}}Announcements{{/link-to}}
  </div>

  {{outlet}}
</div>
