<div class="modal modal--show">
  {{#simple-form class="modal__card" onsubmit=(action "saveForm") as |formValues|}}
    <div class="modal__content">
      {{#link-to "calendar" class="modal__exit"}}<i class="fa fa-times" aria-hidden="true"></i>{{/link-to}}
      <p class="modal__header">How many tickets would you like to claim for {{model.name}}?</p>
      <select class="modal__options" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <button class="modal__btn" type="submit">Submit</button>
  {{/simple-form}}
</div>
