<div class="container container--vertical">
  <div class="form">
    <img src="/images/bbbs.png" alt="bbbs logo" class="form__logo">
    <h1 class="form__header">Post an Announcement</h1>

    <div class="form__info">

      <div class="form__info-group">
        <label for="" class="form__label">Admin Name</label>
        <input type="text" class="form__input">
      </div>


      <div class="form__info-group">
        <label for="" class="form__label">Subject</label>
        <input type="text" class="form__input">
      </div>

      <div class="form__info-group">
        <label for="" class="form__label">Short Message</label>
        <textarea name="Message" rows="8" cols="40"></textarea>
      </div>

    </div>
      <div class="form__buttons">
        <button class="form__btn">Submit</button>
      </div>
  </div>
  </div>
